numpy~=1.24.3
openai
selenium
slack_sdk~=3.19.5
atlassian-python-api
langchain~=0.0.157
panda
slackclient
supabase~=1.0.3
InstructorEmbedding
sentence-transformers
slack-bolt
slack-sdk
deepl~=1.14.0
llama-cpp-python
python-dotenv~=1.0.0
pandas~=1.5.3
huggingface_hub
typing-inspect==0.8.0
typing_extensions==4.5.0
pytest
pdfminer.six
torch~=2.0.0
transformers~=4.28.1
python-dateutil~=2.8.2
nltk~=3.8.1
rapidfuzz~=2.13.7
psutil
pdf2image
pytesseract
