numpy
openai
selenium
slack_sdk
atlassian-python-api
langchain
panda
slackclient
supabase
InstructorEmbedding
sentence-transformers
slack-bolt
slack-sdk
deepl
llama-cpp-python
python-dotenv
pandas
huggingface_hub
typing-inspect==0.8.0
typing_extensions==4.5.0
pytest
atlassian-python-api
bs4
hashlib
