[Unit]
Description=QABot

[Service]
ExecStart=sudo /home/ubuntu/miniconda3/bin/python setup_server.py
WorkingDirectory=/root/amos2023ss03-qachat/QAChat/QA_Bot
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
